.banner .container {
  min-height: 400px;
}

img.cta {
  width: 100%;
}

.banner {
  .illustration {
    position: absolute;
    right: 0;
    top: 30px;
    max-width: 100%;
  }

  .container {
  }
}

section.banner {
    min-height: 100vh;
}

section.gallery {
    padding-top: 20px;
    padding-bottom: 20px;

    .content {
        min-height: 60vh;
    }
}