.banner .container {
  min-height: 400px;
}

img.cta {
  width: 100%;
}

.banner {
  .illustration {
    position: absolute;
    right: 0;
    top: 30px;
    max-width: 100%;
  }

  .container {
  }
}

section.banner {
  min-height: 100vh;
}

section.gallery {
  padding-top: 20px;
  padding-bottom: 20px;

  .container {
    height: 90vh;
  }

  .row {
    height: 100%;

    .block {
      height: 100%;
      padding: 40px;
    }
  }
}

.gallery {
  #featured-image {
    transition: opacity 2s ease-in-out;
    object-fit: contain;
    height: 100%;
  }
}
