{{ define "main" }}

<script type="text/javascript">
const images = [];
{{ range .Params.Images }} 
images.push("{{ . }}");
{{ end }}

var timer;
var currentIndex = 0;

const rotateImage = () => {
  const currentImage = images[currentIndex];
  currentIndex++;
  if(currentIndex >= images.length){
    currentIndex = 0;
  }
  // console.log(currentIndex, currentImage);
  const featuredImage = document.getElementById("featured-image");
  featuredImage.style.opacity = 0;
  setTimeout(()=>{
    featuredImage.setAttribute("src",currentImage)
    featuredImage.style.opacity = 1
  }, 2000);
}

window.onload = () => {
  timer = setInterval(rotateImage, 5000);
};
</script>

<section class="gallery section">
  <div class="container">
    <div class="row pb-5">
      <div class="col-lg-8 mx-auto block shadow mb-5">
        {{ if .Params.Images }}
        <img id="featured-image" src="{{ .Params.DefaultImage | absURL }}" class="img-fluid w-100 mb-4" alt="{{ . | markdownify }}">
        {{ end }}
      </div>
    </div>
  </div>
</section>

{{ end }}